h1.offset4= title

#introduction.offset2.span8
    p   This is a very simple server app to store a number of wishlists.  In order to keep everything very simple there is very little validation and no concerns for privacy.
    p   It is intended to be used as part of
        a(href='https://github.com/mchapman/WebDevKeyStage2','target='_blank')
            &nbsp;a web development course
        &nbsp;for primary school children (9-11 years old).
    p   It should be used as follows (all paths are relative).
    table.table
        tr
            th URL
            th Description
        tr
            td
                a(href='/')
                    /
            td This page
        tr
            td
                a(href='/user/all')
                    /user/all
            td  A table showing all the wishes on the system
        tr
            td
                b /user/:name
            td  A table showing all the wishes for&nbsp;
                em   :name
                . For example&nbsp
                a(href='/user/Mark')
                   /user/Mark
        tr
            td
                b /user/:name.json
            td  The wishlist for&nbsp;
                em   :name
                &nbsp;in json format.  For example&nbsp
                a(href='/user/Mark.json')
                   /user/Mark.json
                . See below for an alternative link that you will need in a typical development environment.
        tr
            td
                b /user/:name.json?callback=?
            td  The wishlist for&nbsp;
                em   :name
                &nbsp;in jsonp format (which is necessary when working on an HTML file locally and loading it into your browser).  For example&nbsp
                a(href='/user/Mark.json?callback=123')
                   /user/Mark.json?callback=123
        tr
            td
                a(href='/wish/new')
                    /wish/new
            td  Brings up a simple form to enter a new wish.
        tr
            td
                b /wish/:id/remove
            td  Tag the wish with _id&nbsp;
                em  :id
                &nbsp;for removal.  Optionally you can add
                span.nobr
                    b ?reason=a+reason+for+removal
                \(such as the name of the person that bought it).  The + gets replaced with a space when the reason is stored.
    p   All the&nbsp
        b   /user
        &nbspURLs can have
        b   /debug
        &nbspappended, which includes wishes tagged for removal.  This is helpful for testing.
